<div class="row">

  <div class='col-md-11'>
    <h1><%= markdown(@wiki.title) %></h1>
  </div class>

  <div class='col-md-1'>
    <h4>
      <%= link_to "", edit_wiki_path(@wiki), class: 'glyphicon glyphicon-pencil icons' %>
      <%= link_to "", @wiki, method: :delete, class: 'glyphicon glyphicon-trash icons ', data: { confirm: 'Are you sure?' } %>
    </h4>
  </div>

</div>

<medium>
  <p>Started by: <%=@wiki.user.username%><p>
    <p><%= link_to pluralize(@wiki.users.count, "collaborator"), new_wiki_collaborator_path(@wiki) %></p>
</medium>

<div class="h-divider"></div>
  <p><%= markdown(@wiki.body) %></p>
</div>
