

<script type='text/javascript'>
  blocmetrics.report('Show Wiki');
</script>

<div class="row">
  <h1 class="col-md-8"><%= markdown(@wiki.title) %></h1>
  <div class="col-md-4">
    <ul class="nav">
      <div class="pull-right down user-info">
      <%= link_to "[edit]", edit_wiki_path(@wiki) %></li> |
      <%= link_to "[delete]", @wiki, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </ul>
  </div>
</div>

<div class="h-divider"></div>
  <p><%= markdown(@wiki.body) %></p>
<div class="h-divider"></div>


  <p><b>Started by: <%=@wiki.user.username%></b><p>
      <medium>
        <%= pluralize(@wiki.collaborations.count, "collaborator") %> on this wiki.
        <% if @wiki.user_id == current_user.id %>
          <%= link_to "| Add more collaborators", new_wiki_collaboration_path(@wiki) %>
        <% end %>
      </medium>
      <div class='box'>
         <% @wiki.collaborations.each do |c| %>
           <medium>
               <li><%= c.user.username %>
                <% if current_user == @wiki.user%>
                  <%= link_to "| remove", wiki_collaboration_path(@wiki, c), method: :delete %>
                <% end %>
              </li>
          </medium>
        <% end %>
      </div>


<div class="h-divider"></div>
