
<div class="row">

  <div class='col-md-11'>
    <h1><%= markdown(@wiki.title) %></h1>
  </div class>

  <div class='col-md-1'>
    <h4>
      <%= link_to "", edit_wiki_path(@wiki), class: 'glyphicon glyphicon-pencil icons' %>
      <%= link_to "", @wiki, method: :delete, class: 'glyphicon glyphicon-trash icons ', data: { confirm: 'Are you sure?' } %>
    </h4>
  </div>

</div>

<medium>
    <p>Started by: <%=@wiki.user.username%><p>
    <p><%= link_to pluralize(@wiki.collaborations.count, "collaborator"), new_wiki_collaboration_path(@wiki) %></p>
</medium>

<div class="h-divider"></div>
  <p><%= markdown(@wiki.body) %></p>
</div>


<% if @wiki.private?%>

<h4> Collaborators:

 <% @wiki.collaborations.each do |c| %>

<div class = 'row'>
      <small>
  <br>


  <div class="col-md-2">

     <%= c.user.username %>
  </div>

  <div class="col-md-2">
    <% if current_user == @wiki.user%>
    <%= link_to "Remove", wiki_collaboration_path(@wiki, c), method: :delete %>
    <% end %>
  </div>

</small>
</div>


 <% end %>
</h4>

<% end %>
